SAP_URL=https://a04p.ucc.cloud/sap/bc/ui2/flp?sap-client=204&sap-language=DE
SAP_USER_1_UN=<SAP_USERNAME_1>
SAP_USER_1_PW=<SAP_PASSWORD_1>
SAP_USER_2_UN=<SAP_USERNAME_2>
SAP_USER_2_PW=<SAP_PASSWORD_2>
SAP_USER_3_UN=<SAP_USERNAME_3>
SAP_USER_3_PW=<SAP_PASSWORD_3>
SAP_USER_4_UN=<SAP_USERNAME_4>
SAP_USER_4_PW=<SAP_PASSWORD_4>
